.modal-header
    h3.modal-title Members of "{{editingGroup.name}}"
.modal-body
    .alert.alert-danger(ng-show='error' ng-bind='error')
    fieldset(ng-disabled='disableModal')
        .form-horizontal
            .form-group
                label.col-xs-2.control-label Members:
                .col-xs-10
                    table.table.table-fixed
                        thead
                            tr
                                th.col-xs-3 First
                                th.col-xs-3 Last
                                th.col-xs-3 username
                        tbody
                            tr(ng-repeat='member in editingGroup._members | orderBy: "firstName" track by $index' ng-class='{info: member.username === owner.username}')
                                td.col-xs-3(ng-bind='member.firstName')
                                td.col-xs-3(ng-bind='member.lastName')
                                td.col-xs-4(ng-bind='member.username')
                                td.col-xs-2
                                    div.btn.btn-xs.btn-danger(ng-click='removeMember(member)' ng-hide='member.username === owner.username || !canRemove') Remove
                                    div(ng-show='member.username === owner.username') Owner

                    form.col-xs-12(ng-submit='addMember()')
                        .col-xs-9
                            input.form-control(type='text' ng-model='memberToAdd' placeholder='Search other members' uib-typeahead='member as getMemberDisplay(member) for member in getUsers($viewValue)' typeahead-loading='loadingLocations' typeahead-no-results='noResults')
                            i.glyphicon.glyphicon-refresh(ng-show='loadingLocations')
                            div(ng-show='noResults')
                                i.glyphicon.glyphicon-remove
                                |  No Results Found

                        .col-xs-2
                            button.btn.btn-success(type='submit') Add Member
             .form-group
                .col-xs-offset-2.col-xs-10
.modal-footer
    fieldset(ng-disabled='disableModal')
        button.btn.btn-primary(ng-click='close()') Done
