link(rel='stylesheet' href='/stylesheets/partials/groups.css')
div.title Choose Your Group
group-type-tabs
div.scrollBox
    div.alert.alert-danger(ng-bind='error' ng-show='error')
    div(ng-repeat='group in groups | orderBy: name track by $index')
        a.list-group-item.text-center(type='button' ng-href='/workspace?group={{group}}' target='_self' ng-bind='group')
