ul.nav.nav-tabs
    li(ng-class='{active: groupType == "owned"}')
        a.button.noselect(ui-sref='{groupType: "owned"}') Owned
    li(ng-class='{active: groupType == "joined"}')
        a.button.noselect(ui-sref='{groupType: "joined"}') Joined
