.container
    .tilePanel.header
        div Groups: {{groupType}}
        div
            input.filterInput.form-control(ng-model='filterQuery.name' type='text' size='30' placeholder='filter groups' autofocus)
        div(ng-if='groupType === "owned"')
            input.form-control.btn.btn-primary.addGroupButton(type='button' ng-click='openAddGroupModal()' value='Add Group')
    .alert.alert-danger(ng-show='error' ng-bind='error')
    .tilePanel
        div(ng-repeat='group in groups | orderBy: "name" | filter: filterQuery track by $index' ui-sref='workspace({groupId: group._id})')
            div(ng-style="{'background-color':group.colour}")
                h2(ng-bind='group.name')
                p(ng-bind='group.description')
                .btn-sm.btn-default.hiddenButton(ng-click='openEditGroupPropertiesModal($event, group)') Properties
                .btn-sm.btn-default.hiddenButton(ng-click='openEditGroupMembersModal($event, group)') Members
