.container
    .tilePanel.header
        div Groups: {{groupType}}
        div
            input.filterInput.form-control(ng-model='filterQuery' type='text' size='30' placeholder='filter groups' autofocus)
    .alert.alert-danger(ng-show='error' ng-bind='error')
    .tilePanel
        div(ng-repeat='group in groups | orderBy: name | filter: filterQuery track by $index' ui-sref='workspace({groupName: group.name})')
            .btn-primary
                h2(ng-bind='group.name')
                p(ng-show='group.name.indexOf("wef") != -1') This is a long description of this groups and all the information you would ever want to know about it. More... Info... For... longth...
