div#container(ng-init='init("#{username}", "#{groupName}")')
    div#dropzone
        h1.noselect#dndText Drag and drop files here
    input#showButton(type='button' value='Show' ng-hide='chatVisible' ng-click='showChat()')
    div#chatPanel(ng-show='chatVisible')
        div#chatHeader
            input#hideButton(type='button' value='Hide' ng-click='hideChat()')
        div#chatBody
            div.messageRow(ng-repeat='message in messages track by $index')
                div.userBubble.noselect(uib-tooltip='{{message.user}}' tooltip-placement='right' tooltip-trigger='mouseenter') {{message.user.substring(0, 1).toUpperCase()}}
                div.chatMessage.noselect(ng-bind='message.content')
                button.btn.btn-primary(type='button' ng-click='addMessageToWorkspace(message.content)') +
                button.btn.btn-primary(type='button' ng-if='message.user === username' ng-click='removeMessage(message.timestamp)') x
        div#chatFooter
            form(ng-submit='sendMessage()')
                input#messageInputBox(type='text' ng-model='newMessage' placeholder='Type a message...' autofocus)
