.workspace
    .dropzone(runway-dropzone='mainDropzone' socket='socket')
    button.actionButton.showButton(ng-click='chatVisible = !chatVisible') {{chatVisible ? 'Hide' : 'Show'}}
    div(chat-panel socket='socket' user='user' ng-show='chatVisible')
