/*nav bar*/
.logo {
    margin-top: -12px;
    margin-left: -5px;
    max-height: 45px;
    pointer-events: none;
}

.homeUiView {
    padding-top: 80px;
}
/*end nav bar*/

/*tilePanel*/
.tilePanel {
    text-align: center;
}

@media only screen and (min-width: 400px) {
    .tilePanel {
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .tilePanel {
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .tilePanel {
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .tilePanel {
        column-count: 4;
    }
}

.tilePanel > div {
    display: inline-block;
    width: 100%;
}


.tilePanelHeader > div {
    font-size: 24pt;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterInput {
    margin-top: 4px;
}

.tilePanel > div > div {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hiddenButton {
    opacity: 0;
    display: inline-block;
    width: 40%;
    margin: 0 5% 0 5%;
}

.tilePanel > div:hover > div > .hiddenButton {
    opacity: 1;
    transition: 0.5s;
}

.tilePanel > div:hover > div {
    transform: translate(0px, -15px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px 2px;
    opacity: 0.8;
    transition: 0.5s;
}

.tilePanel > div > div > .groupName {
    word-wrap: break-word;
}
/*end tilePanel*/

textarea {
    resize: vertical;
}


.table-fixed thead {
    width: 100%;
}
.table-fixed tbody {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
}