.content {
    margin: auto;
    width: 90%;
    overflow: hidden;
}

.signInButton {
    float: right;
}

@media only screen and (min-width:480px) {
    .content {
        width: 60%;
    }
}

@media only screen and (min-width:960px) {
    .content {
        width: 30%;
    }
}
