extends layout
block scripts
    script(type='text/javascript' src='/javascripts/homeApp.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    link(rel='stylesheet' href='/stylesheets/home.css')

block content
    div(ng-app='homeApp' ng-controller='homeController' ng-init="init('#{username}')")
        div.container
            div.row
                div.col-xs-4.col-xs-offset-4(style="top:50%")
                    div
                        h1(ng-bind='username')
                    div.list-group(ng-repeat='group in groups track by $index')
                        a.list-group-item(type="button" ng-href='/workspace?group={{group}}') {{group}}
                    form.form-auth(action="/api/newGroup" method="post")
                        div.form-group
                            label(for="newGroupName") Create a new group
                            input#newGroupName.form-control(type="text" name="newGroupName" ng-model='newGroupName' placeholder="New Group Name" autofocus)
                            input.btn.btn-primary(type="submit" value="Create Group" ng-click='addGroup()')
