extends layout
block scripts
    script(type='text/javascript' src='/javascripts/homeApp.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/angular-route.js')
    link(rel='stylesheet' href='/stylesheets/home.css')

block content
    div#container(ng-app='homeApp' ng-controller='groupsController' ng-init="username='#{username}'" ng-view)
