doctype html
html(ng-app='runwayApp')
    head

        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')

        link(rel='stylesheet', href='/styles/vendor.min.css')
        link(rel='stylesheet', href='/styles/styles.min.css')

        script(type='text/javascript', src='/scripts/vendor.min.js')
        script(type='text/javascript', src='/scripts/scripts.min.js')

        title(ng-bind='("Runway - " + $title || "Runway")')
        base(href='/')

    body
        div(ui-view='navBar')
        div(ui-view='content')
