doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet",href="/css/bootstrap.min.css")

        script(type='text/javascript', src='angular.min.js')
        script(type='text/javascript', src='angular-route.min.js')
        script(type='text/javascript', src='jquery.min.js')
        script(type='text/javascript' src="/js/bootstrap.min.js")
        script(type='text/javascript' src='/jquery-ui-bundle/jquery-ui.js')
        script(type='text/javascript' src='/javascript/runwayApp.js')
        script(type='text/javascript' src='/javascript/workspaceController.js')
        script(type='text/javascript' src='/javascript/homeController.js')
        script(type='text/javascript' src='/socket.io/socket.io.js')
        script(type='text/javascript' src='/dropzone.js')


    body.bodyStyleHack
        div(ng-app='runwayApp' ng-controller='homeController' ng-init="username='#{username}'").fill
            div(ng-view).fill
