doctype html
html(ng-app='runwayApp')
    head

        link(rel="stylesheet" href='/css/bootstrap.min.css')

        script(type='text/javascript' src='/jquery.min.js')
        script(type='text/javascript' src='/js/bootstrap.min.js')
        script(type='text/javascript' src='/angular.js')
        script(type='text/javascript' src='/angular-ui-router.min.js')
        script(type='text/javascript' src='/angular-ui-router-title.js')
        script(type='text/javascript', src='/Scripts/main.js')
        script(type='text/javascript', src='/Scripts/services.js')
        script(type='text/javascript', src='/Scripts/controllers.js')

        title(ng-bind='("Runway - " + $title || "Runway")')
        base(href='/')

    div.container
        div(ui-view='')

