doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        script(src="/js/bootstrap.min.js")
    body
        row
            center
                p#title Runway
            #container.col
        form
            div.form-group
                label(for="emailInput" ) Email
                input.form-control#emailInput(type="text" placeholder="Email")
            div.form-group
                label(for="passwordInput" ) Password
                input.form-control#passwordInput(type="password" placeholder="Password")