doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        script(src="/js/bootstrap.min.js")
    body
        row
            h1 Runway
        form
            div.form-group
                label(for="nicknameInput" ) Nickname
                input.form-control#nicknameInput(type="text" placeholder="Nickname")
            div.form-group
                label(for="passwordInput" ) Password
                input.form-control#passwordInput(type="password" placeholder="Password")