doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        script(type='text/javascript', src='angular.min.js')
        script(type='text/javascript', src='jquery.min.js')
        script(src="/js/bootstrap.min.js")
    body
        block content
