extends layout

block content
    script(type='text/javascript' src='/javascripts/authApp.js')
    div.login-form(ng-app="authApp")
        div(ng-controller="authController")
            row
                h1 Runway
            form.form-auth(ng-submit="login()")
                p.text-warning {{error_message}}
                div.form-group
                    label(for="nicknameInput" ) Nickname
                    input.form-control#nicknameInput(type="username" ng-model="user.username" placeholder="Username")
                div.form-group
                    label(for="passwordInput" ) Password
                    input.form-control#passwordInput(type="password" ng-model="user.password" placeholder="Password")
                input.btn.btn-primary(type="submit" value="Login")