extends layout

block content
    script(type='text/javascript' src='/javascripts/authApp.js')
    div.login-form(ng-app="authApp")
        div(ng-controller="authController")
            H1= title
            if message.length > 0
                p.alert.alert-danger=message
            form.form-auth(action="/register" method="post")
                div.form-group
                    label(for="registerUsername" ) Username
                    input.form-control#registerUsername(type="text" name="username" placeholder="Username" autofocus)
                div.form-group
                    label(for="registerPassword") Password
                    input.form-control#registerPassword(type="password" name="password" placeholder="Password")
                div.form-group
                    p.col-xs-7 Already have an account?
                        a(href="login") Login
                    input.btn.btn-primary.col-xs-4#signin(type="submit" value="Register")
