.space-panel {
    position: relative;
    float: left;
    text-align: center;
    height: 100%;
    width: 75%;
    background-color: #f9edd2;
}

#dndText {
    position:absolute;
    width: 100%;
    top: 50%;
    margin-top: -28px;
    line-height: 55px;
    font-size: 55px;
    color: #e6e6e6;
}

#dropzone.hover{
    border-color: red;
}

.space-content {
    position: absolute;
}

#un-hide-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color:#ffdd99;
    color: #888;
    font-size:14px;
    font-weight:bold;
    height: 48px;
    line-height:16px;
    padding: 16px;
}

.chat-panel {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #000000;
    position: relative;
    float: right;
    height: 100%;
    width: 25%;
}

.users-bar {
    position: absolute;
    top: 0px;
    height: 48px;
    width: 100%;
    background-color: #ffdd99;
}

.messages-panel {
    position: absolute;
    bottom: 48px;
    top: 48px;
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
}

#messagebox {
    height: 48px;
    width: 100%;
}

.user {
    color: #ffffff;
    font-size: 5px;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #bfbfbf;
    word-wrap: break-word;
}

.chatMessage {
    line-height: 25px;
    border-radius: 5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    background-color: #ffe5b3;
    word-wrap: break-word;
}

.text-bar {
    position: absolute;
    bottom: 0px;
    height: 48px;
    width: 100%;
    background-color:#ffffff;
}

.fill {
    height:100%;
    width:100%;
}

#hide-btn {
    border: none;
    background-color: transparent;
    color: #888;
    font-size: 14px;
    font-weight:bold;
    height: 48px;
    line-height:16px;
    padding: 16px;
}

#hide-btn:hover, #un-hide-btn:hover {
    background-color: #5d176a;
}