.space-panel {
    position: relative;
    float: left;
    text-align: center;
    height: 100%;
    width: 80%;
    background-color: #d6f5d6;
}

#dndText {
    position:absolute;
    width: 100%;
    top:50%;
    margin-top: -28px;
    line-height: 55px;
    font-size: 55px;
    color: #cccccc;
}

#dndText{
    color:black;
}

#dropzone.hover{
    border-color: red;
}

.space-content {
    position: absolute;
}

#un-hide-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color:#222;
    color: #888;
    font-size:14px;
    font-weight:bold;
    height: 48px;
    line-height:16px;
    padding: 16px;
}

.chat-panel {
    position:relative;
    float: right;
    height: 100%;
    width: 20%;
}

.users-bar {
    position:absolute;
    top: 0px;
    height: 48px;
    width: 100%;
    background-color: #adebad;
}

.messages-panel {
    position: absolute;
    bottom: 48px;
    top: 48px;
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
}

#messagebox {
    width: 100%;
}

.user {
    text-align: center;
    line-height: 25px;
}

.chatMessage {
    border-radius: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    background-color: #c2f0c2;
}

.text-bar {
    position: absolute;
    bottom: 24px;
    height: 24px;
    width: 100%;
    background-color:#ffffff;
}

.tools-bar {
    position:absolute;
    bottom: 0px;
    height: 24px;
    width: 100%;
    background-color:#ffffff;
}

.fill {
    height:100%;
    width:100%;
}

#hide-btn {
    border: none;
    background-color: transparent;
    color: #888;
    font-size: 14px;
    font-weight:bold;
    height: 48px;
    line-height:16px;
    padding: 16px;
}

#hide-btn:hover, #un-hide-btn:hover {
    background-color:#5d176a;
}
