/*spacer for content under navBar*/
div[ui-view='content'] {
    margin-top: 80px;
}
/*spacer for content under end*/


/*group tiles*/
.tilePanel {
    padding: 20px 0;
    text-align: center;
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
}

.tilePanel > div {
    display: inline-block;
    width:  100%;
}

.tilePanel > div > div > h2 {
    word-wrap: break-word;
}

.tilePanel > div > div {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.tilePanel > div:hover > div {
    transform: translate(0px, -15px);
    border: 1px solid #C8C8C8;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 2px;
    opacity: 0.8;
    transition: 0.5s;
}
/*group tiles end*/


/*manage page*/

.groupsTitle {
    float: left;
}
.addGroupButton {
    float: right;
    position: relative;
    top: 30px
}
/*manage page end*/
