html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    margin: auto;
    width: 90%;
    height: 70%;
}

#signInButton {
    float: right;
}

@media only screen and (min-width:480px) {
    .content {
        width: 60%;
    }
}

@media only screen and (min-width:960px) {
    .content {
        width: 30%;
    }
}
