html, body {
    height: 100%;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

#dropzone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #f9edd2;
    flex-grow: 1;
    max-width: 100%;
    min-width: 75%;
}

#dropzone.hover {
    border: 2px solid red;
}

#dndText {
    color: Lightgray;
}

#chatPanel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffdd99;
    width: 25%;
    border-left: 2px solid black;
    overflow-y: hidden;
}

#chatHeader {
    top: 0px;
    height: 48px;
    background-color: #ffdd99;
}

#chatBody {
    height: 100%;
    flex-grow: 1;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}

#chatFooter {
    bottom: 0px;
    height: 48px;
    background-color: white;
}

#showButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: #ffdd99;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    line-height: 16px;
    padding: 16px;
}

#hideButton {
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    line-height: 16px;
    padding: 16px;
}

#hideButton:hover, #showButton:hover {
    background-color: #5d176a;
}

#messageInputBox {
    height: 48px;
    width: 100%;
    padding: 10px
}

.messageRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin-top: 5px;
    margin-bottom: 5px;
}

.userBubble {
    min-height: 25px;
    min-width: 25px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: gray;
    word-wrap: none;
}

.chatMessage {
    flex-grow: 1;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px;
    background-color: #ffe5b3;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

button.btn.btn-primary {
    margin-right: 5px;
}

.dz-preview {
    display: none;
}

.ui-draggable:hover {
    cursor: move;
}
